# Note the presence of leading slashes to lock the ignore to the root
# of the project. See: `man gitignore` under "PATTERN FORMAT"

/.vagrant

# Ignore /bin/phpunit since it is added by composer when importing phpunit
/bin/phpunit

# Ignore all composer-managed dependencies
/vendor

# Ignore local mpx test config
/tests/config/mpx/local.php
